<h1>Main Menu</h1>
<section id="services" class="clear">
	<div>
		This is the Administration menu.
		From here you can manage all existing churches or import new churches, and even manage users.
	</div>
</section>